/* Fontes */
@font-face {
    font-family: 'GothamSSmBlack';
    src: url('../fontes/GothamSSm-Black.eot');
    src: url('../fontes/GothamSSm-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontes/GothamSSm-Black.woff2') format('woff2'),
        url('../fontes/GothamSSm-Black.woff') format('woff'),
        url('../fontes/GothamSSm-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamSSmMedium';
    src: url('../fontes/GothamSSm-Medium.eot');
    src: url('../fontes/GothamSSm-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fontes/GothamSSm-Medium.woff2') format('woff2'),
        url('../fontes/GothamSSm-Medium.woff') format('woff'),
        url('../fontes/GothamSSm-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamSSmLight';
    src: url('../fontes/GothamSSm-XLight.eot');
    src: url('../fontes/GothamSSm-XLight.eot?#iefix') format('embedded-opentype'),
        url('../fontes/GothamSSm-XLight.woff2') format('woff2'),
        url('../fontes/GothamSSm-XLight.woff') format('woff'),
        url('../fontes/GothamSSm-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


html,
body {
	height: 100%;
	font-family: 'GothamSSmLight', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'GothamSSmBlack', sans-serif;
	color: #222222;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 700;
}

h1 {
	font-size: 60px;
	margin-bottom: 40px;
}

h1 span {
	background: #12c3f4;
	padding: 0 10px;
	color: #222222;
	display: inline-block;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
	margin-bottom: 30px;
}

h4 {
	font-size: 15px;
}

p {
	font-size: 15px;
	color: #727272;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*------------------------
  Helper css
--------------------------*/
.sp-title {
	font-size: 60px;
	margin-bottom: 40px;
}

.sp-title span {
	background: #12c3f4;
	padding: 0 10px;
	color: #FFF;
	display: inline-block;
}

.pt100 {
	padding-top: 100px;
}

.pb100 {
	padding-bottom: 100px;
}

.pt50 {
	padding-top: 50px;
}

.pb50 {
	padding-bottom: 50px;
}

.mb100 {
	margin-bottom: 100px;
}

.spad {
	padding: 100px 0;
}

.section-title {
	margin-bottom: 75px;
}

.section-title h1,
.section-title h2 {
	font-family: 'GothamSSmMedium', sans-serif;
	display: inline-block;
	font-size: 58px;
	color: #1c4d86;
}

.section-title p {
	font-size: 24px;
	line-height: 134%;
	text-align: justify;
}

.section-title h1 span,
.section-title h2 span {
	background:#12c3f4;
	color: #fff;
}

.set-bg {
	background-size: cover;
	background-repeat: no-repeat;
}

/*------------------------
  Common element css
--------------------------*/
/*=== Preloder ===*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #1c4d86;
}

.loader {
	width: 50px;
	height: 50px;
	border: 8px solid #12c3f4;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -23px;
	margin-left: -23px;
	border-radius: 60px;
	border-left-color: transparent;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
	}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
.site-btn {
	display: inline-block;
	font-weight: 700;
	border: 4px solid #1c4d86;
	color: #1c4d86;
	min-width: 200px;
	text-align: center;
	padding: 19px 10px;
	position: relative;
	background-color: transparent;
	margin-right: 15px;
	z-index: 1;
	webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    
}

.projects-section .btnbox {
	text-align: right;
}

.projects-section .section-title {
	margin-bottom: 0;
}

.projects-section .section-title p {
	margin-bottom: 0;
}

.projects-section .btnbox .site-btn {
	color: #1c4d86;
    border-color: #1c4d86;
}

.projects-section .btnbox .site-btn:after,
.projects-section .btnbox .site-btn:before {
    background: #1c4d86;
}


.site-btn:after,
.site-btn:before {
	position: absolute;
	content: "";
	background-color: #1c4d86;
	width: 26px;
	height: 4px;
	right: -15px;
	webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

}

.site-btn:after {
	bottom: 8px;
}

.site-btn:before {
	bottom: 18px;
}

.site-btn.sb-light {
	color: #fff;
	border-color: #fff;
}

.site-btn.sb-light:after,
.site-btn.sb-light:before {
	background: #fff;
}

.site-btn.sb-dark {
	color: #222222;
}

.site-btn.sb-dark:after,
.site-btn.sb-dark:before {
	background: #222222;
}

.site-btn.sb-solid-color {
	background: #12c3f4;
	border-color: #12c3f4;
}

.site-btn.sb-solid-color:after,
.site-btn.sb-solid-color:before {
	background: #222222;
}

.site-btn.sb-solid-dark {
	background: #222;
	border-color: #222;
	color: #12c3f4;
}

.site-btn.sb-solid-dark:after,
.site-btn.sb-solid-dark:before {
	background: #12c3f4;
}

.element {
	margin-bottom: 100px;
}

/*===  Accordion ===*/
.accordion-area .panel {
	margin-bottom: 15px;
}

.accordion-area .panel-header {
	background: #f0f0f0;
	display: block;
	padding: 12px 50px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active {
	background: #12c3f4;
}

.accordion-area .panel-header.active .panel-link:after {
	content: "-";
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
	content: "+";
}

.accordion-area .panel-link {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background: #12c3f4;
	border: none;
	cursor: pointer;
}

.accordion-area .panel-body p {
	font-size: 14px;
	margin-bottom: 0;
	padding-top: 25px;
}

.accordion-area .panel-body {
	padding: 0 5px;
}

.accordion-area .panel-link:after {
	content: "+";
	position: absolute;
	left: 50%;
	font-size: 16px;
	font-weight: 700;
	top: 50%;
	line-height: 16px;
	margin-top: -8px;
	margin-left: -4px;
}

/*===  Tab  ===*/
.tab-element .nav-tabs {
	border-bottom: none;
	margin-bottom: 35px;
}

.tab-element .nav-tabs .nav-link {
	border: none;
	background: #f0f0f0;
	border-radius: 0;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #222;
	padding: 15px 30px;
}

.tab-element .nav-tabs .nav-link.active {
	background: #12c3f4;
}

.tab-element .nav-tabs .nav-link.active,
.tab-element .nav-tabs .nav-link:hover {
	border: none;
}

.tab-element .tab-pane h4 {
	font-size: 18px;
	margin: 25px 0 20px;
}

.tab-element .tab-pane p {
	font-size: 14px;
}

/*===  Loader ===*/
.circle-progress {
	text-align: center;
	padding-top: 30px;
	display: inline-block;
}

.circle-progress .prog-circle {
	position: relative;
	margin-bottom: -155px;
}

.circle-progress .prog-circle:after {
	position: absolute;
	content: "";
	width: 177px;
	height: 177px;
	left: 9px;
	top: 9px;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index: 1;
}

.circle-progress canvas {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.circle-progress .progress-info {
	width: 100%;
	border-radius: 150px;
	margin: 0 auto;
	padding-top: 22px;
}

.circle-progress .progress-info h2 {
	font-size: 48px;
}

.circle-progress .prog-title {
	text-align: center;
	margin-top: 100px;
}

.circle-progress .prog-title h3 {
	font-size: 18px;
	color: #727272;
}

.img-popup-warp .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

/*----------------------------------------*/
/*  Header CSS
/*----------------------------------------*/
.header-area {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 50;
}

.logo-area {
	width: 300px;
	float: left;
	display: inline-block;
	background: #1c4d86;
	padding: 30px;
}

.logo-area img {
	width: 100%;
	height: auto;

}

.phone-number {
	float: right;
    display: inline-block;
    padding: 5px 10px;
    font-family: 'GothamSSmMedium', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 22px;
    margin-right: 50px;
}

.nav-switch {
	display: none;
}

.nav-menu {
	display: inline-block;
	float: right;
}

.nav-menu ul {
	list-style: none;
}

.nav-menu > ul > li {
	display: inline;
	position: relative;
}

.nav-menu > ul > li > a {
	display: inline-block;
	font-family: 'GothamSSmMedium', sans-serif;
	padding: 40px 10px 5px;
	text-transform: uppercase;
	margin-right: 30px;
	font-size: 15px;
	color: #fff;
	position: relative;
}

.nav-menu > ul > li > a:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 0;
	left: 50%;
	margin-left: 1px;
	top: 0;
	background: #12c3f4;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.nav-menu > ul > li > a:hover:after {
	height: 25px;
}

.nav-menu > ul > li.active>a:after {
	height: 25px;
}

/*---------------------------------------*/
/*  Hero Section CSS
/*----------------------------------------*/
.hero-section {
	height: 960px;
	background: #ededed;
	position: relative;
}

.left-bar {
	position: absolute;
	width: 100px;
	height: 100%;
	background: #1c4d86;
	z-index: 20;
}

.left-bar .left-bar-content {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	margin-bottom: 90px;
}

.social-links a {
	display: block;
	color: #fff;
	margin-bottom: 20px;
	font-size: 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.social-links a:hover {
	color: #12c3f4;
}

.hero-right-text {
	position: absolute;
	right: 140px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: right center;
	    -ms-transform-origin: right center;
	        transform-origin: right center;
	bottom: 60%;
	z-index: 30;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 20px;
}

.hero-slider .hero-slide-item {
	width: 100%;
	height: 960px;
	display: table;
}

.hero-slider {
	background-color: #424242;
}

.hero-slider .hero-slide-item .slide-inner {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.hero-slider .owl-nav {
	position: absolute;
	display: inline-block;
	left: 350px;
	bottom: 70px;
}

.hero-slider .owl-nav .owl-prev,
.hero-slider .owl-nav .owl-next {
	display: inline-block;
	margin-right: 30px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.hero-slider .owl-nav .owl-prev:hover,
.hero-slider .owl-nav .owl-next:hover {
	color: #12c3f4;
}

.hero-slider .owl-nav .owl-prev i {
	margin-right: 5px;
}

.hero-slider .owl-nav .owl-next {
	margin-right: 0px;
}

.hero-slider .owl-nav .owl-next i {
	margin-left: 5px;
}

.slide-num-holder {
	width: 153px;
	height: 170px;
	position: absolute;
	right: 60px;
	background: rgba(18, 18, 18, 0.95);
	bottom: -40px;
	z-index: 111;
	text-align: right;
	padding-right: 20px;
	padding-top: 60px;
	color: #fff;
	font-weight: 700;
}

.slide-num-holder span {
	letter-spacing: -2pt;
	font-size: 48px;
	color: #12c3f4;
	position: relative;
	top: -10px;
	right: -10px;
}

.slide-content {
	margin-left: 350px;
	margin-bottom: 50px;
	padding-left: 190px;
	padding-top: 170px;
	padding-bottom: 70px;
	position: relative;
	opacity: 0;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.slide-content:after {
	position: absolute;
	content: "";
	height: calc(100% + 50px);
	width: 330px;
	border-top: 150px solid #12c3f4;
	border-left: 150px solid #12c3f4;
	border-bottom: 90px solid #12c3f4;
	top: 0;
	left: 0;
	opacity: 0.73;
}

.slide-content h2 {
	color: #fff;
	font-size: 80px;
	line-height: 80px;
	font-family: 'GothamSSmMedium', sans-serif;
}

/*.slide-content .site-btn:hover {
	color: #1c4d86;
}

.slide-content .site-btn:hover:after,
.slide-content .site-btn:hover:before {
	background: #1c4d86;
}*/

.owl-item.active .slide-content {
	opacity: 1;
}

/*----------------------------------------*/
/*  Intro Section CSS
/*----------------------------------------*/
.intro-text p {
	margin-bottom: 50px;
}

.intro-text h1 {
	color: #1c4d86;
}

.intro-text h1 span {
	color: #fff;
}

/*----------------------------------------*/
/*  Service Section CSS
/*----------------------------------------*/
.service-box {
	margin-bottom: 30px;
}

.service-box .sb-icon {
	margin-bottom: 30px;
	width: 100px;
	height: 125px;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.service-box .sb-icon .sb-img-icon {
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.service-box .sb-icon .sb-img-icon img {
	opacity: 0.2;
	max-height: 70px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.service-box .sb-icon::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	left: 25px;
	top: -80px;
	-webkit-transform: rotate(-65deg);
	    -ms-transform: rotate(-65deg);
	        transform: rotate(-65deg);
}

.service-box .readmore {
	font-size: 12px;
	font-weight: 700;
	color: #222222;
	display: inline-block;
	padding: 2px 0;
	background-color: transparent;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.service-box:hover .sb-icon {
	background-color: #12c3f4;
}

.service-box:hover .sb-icon .sb-img-icon {
	left: 15px;
	margin-bottom: 5px;
}

.service-box:hover .sb-icon .sb-img-icon img {
	opacity: 1;
}

.service-box:hover .readmore {
	background-color: #12c3f4;
	padding: 2px 10px;
}

/*----------------------------------------*/
/*  CTA Section CSS
/*----------------------------------------*/
.cta-section {
	position: relative;
	margin-bottom: 200px;
}

.cta-section:after {
	content: "";
	position: absolute;
	width: 67%;
	height: 100%;
	right: 0;
	top: 0;
	background: #1c4d86;
	z-index: 2;
}

.cta-section .cta-image-box {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	background-image: url("../img/institucional.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

.cta-section .container {
	position: relative;
	z-index: 9;
}

.cta-section .cta-content h2 {
	color: #fff;
	font-family: 'GothamSSmBlack', sans-serif;
}

.cta-section .cta-content p {
	color: #fff;
	margin-bottom: 30px;
	text-align: justify;
	font-size: 16px;
}

.cta-section .cta-content .cta-img-icon {
	display: inline-block;
	height: 80px;
	position: relative;
	width: 50px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.cta-section .cta-content .cta-img-icon:last-child {
	margin-right: 0;
}

.cta-section .cta-content .cta-img-icon img {
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 100%;
}

/*----------------------------------------*/
/*  Milestones Section CSS
/*----------------------------------------*/
.milestone {
	min-height: 110px;
	padding-left: 43px;
	padding-top: 15px;
	position: relative;
}

.milestone h2 {
	margin-bottom: 0;
	font-size: 68px;
	display: inline-block;
	float: left;
	position: relative;
	z-index: 1;
}

.milestone p {
	float: left;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 1.5;
	position: relative;
	z-index: 1;
	font-weight: 500;
}

.milestone:after {
	position: absolute;
	content: "";
	width: 110px;
	height: 110px;
	left: 0;
	top: 0;
	background: #efefef;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.milestone:hover:after {
	background: #12c3f4;
}

/*----------------------------------------*/
/*  Projects Section CSS
/*----------------------------------------*/
.projects-filter-nav {
	list-style: none;
	text-align: right;
}

.projects-filter-nav li {
	display: inline-block;
	margin-left: 25px;
	color: #747474;
	font-size: 14px;	
	cursor: pointer;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.projects-filter-nav li a{
	padding: 3px 5px;
}

.projects-filter-nav li a {
	color: #222222;
	font-family: 'GothamSSmMedium', sans-serif;
}

.projects-filter-nav li.btn-active {
	background: #12c3f4;
	color: #222222;
}

.projects-slider {
	padding: 0 40px;
	margin-top: 60px;
}

.projects-slider .single-project {
	background-repeat: no-repeat;
	height: 550px;
	width: 100%;
	background: #333;
	-o-transition: .8s;
	transition: .8s;
	-webkit-transition: .8s;
	-ms-transform: translateX(0);
	    transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

.projects-slider .single-project.project_sub {
	height: 440px;
}

.projects-slider .box_sub {
	margin-bottom: 30px;
}

.projects-slider .single-project .project-content {
	padding: 50px;
	height: 100%;
	background: rgba(13, 13, 13, 0.5);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	opacity: 0;
}

.projects-slider .single-project .project-content h2 {
	color: #fff;
	font-family: 'GothamSSmBlack', sans-serif;
	position: relative;
	top: 20px;
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}



.projects-slider .single-project .project-content p {
	color: #12c3f4;
	font-weight: 500;
	position: relative;
	top: 40px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.projects-slider .single-project .seemore {
	position: absolute;
	right: 50px;
	bottom: 30px;
	background: #12c3f4;
	font-size: 14px;
	font-weight: 700;
	color: #222;
	display: inline-block;
	padding: 10px 28px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.projects-slider .single-project .seemore:hover {
	background: #1c4d86;
	color: #fff;
} 

.projects-slider .single-project:hover .project-content {
	opacity: 1;
}

.projects-slider .single-project:hover .project-content h2,
.projects-slider .single-project:hover .project-content p {
	top: 0;
}

.projects-slider .single-project:hover .seemore {
	bottom: 50px;
}

.projects-slider .single-project.__loading {
	opacity: 0;
	-ms-transform: translateX(40px);
	    transform: translateX(40px);
	-webkit-transform: translateX(40px);
}

.projects-slider .owl-nav {
	text-align: right;
	max-width: 1170px;
	margin: 40px auto 0;
}

.projects-slider .owl-nav .owl-prev,
.projects-slider .owl-nav .owl-next {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #00547f;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 5px;
}

.projects-slider .owl-nav .owl-prev:hover,
.projects-slider .owl-nav .owl-next:hover {
	background: #12c3f4;
}

.projects-slider .owl-nav .owl-prev i {
	margin-right: 5px;
}

.projects-slider .owl-nav .owl-next {
	margin-right: 0px;
}

.projects-slider .owl-nav .owl-next i {
	margin-left: 5px;
}

/*----------------------------------------*/
/*  Client Section CSS
/*----------------------------------------*/
.client-slider .single-brand {
	display: table;
	height: 80px;
	width: 100%;
}

.client-slider .single-brand a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.client-slider .single-brand a img {
	width: auto;
	margin: 0 auto;
	opacity: 0.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.client-slider .single-brand a:hover img {
	opacity: 1;
}

/*----------------------------------------*/
/*  Footer Section CSS
/*----------------------------------------*/
.footer-section {
	padding-top: 110px;
	padding-bottom: 110px;
	border-top: 1px solid #1c4d86;
	position: relative;
}

.footer-section .logo_footer {
	margin-bottom: 20px;
}

.footer-section .copyright {
	position: absolute;
	top: 35%;
	left: 60px;
	color: #222;
	font-size: 16px;
}

.footer-section .footer-social {
	width: 75px;
	text-align: center;
	position: absolute;
	right: 60px;
	top: -55px;
	padding-top: 20px;
	background: #1c4d86;
}

.footer-item ul {
	list-style: none;
}

.footer-item ul li {
	display: block;
	margin-bottom: 10px;
}

.footer-item ul li a {
	display: inline-block;
	font-size: 15px;
	color: #777777;
	padding: 0 5px;
	font-family: 'GothamSSmMedium', sans-serif;
}

.footer-item ul li a:hover {
	background: #12c3f4;
	color: #222222;
}

/*----------------------------------------*/
/*  Other pages CSS
/*----------------------------------------*/
.page-header-section {
	height: 445px;
	padding-top: 200px;
}

.page-header-section .header-title {
	font-size: 82px;
	color: #fff;
}

.page-header-section .header-title span {
	background: none;
	color: #12c3f4;
	padding: 0;
}

/*----------------------------------------*/
/*  About page CSS
/*----------------------------------------*/
.testimonials-section {
	position: relative;
	margin: 60px 0;
}

.testimonials-section h1 {
	color: #fff;
}

.testimonials-section h1 span {
	background: #12c3f4;
	color: #FFF;
	padding: 5px 10px;
}

.testimonials-section p {
	font-size: 24px;
	color: #fff;
	line-height: 134%;
}

.testimonials-section:after {
	content: "";
	position: absolute;
	width: 67%;
	height: 90%;
	right: 0;
	top: 0;
	background: #1c4d86;
	z-index: 2;
}

.testimonials-section .testimonials-image-box {
	position: absolute;
	width: 50%;
	height: calc(100% + 120px);
	left: 0;
	top: -60px;
	background-image: url("../img/revendedor.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

.testimonials-section .testimonials-image-box.vendas {
	background-image: url("../img/revendedor.webp");
}

.testimonials-section .container {
	position: relative;
	z-index: 9;
}

.testimonials-section .qut {
	color: #12c3f4;
	font-size: 36px;
	margin-bottom: 20px;
}

.ts-item p {
	color: #fff;
	font-style: italic;
	margin-bottom: 50px;
}

.ts-item h4 {
	font-size: 15px;
	font-weight: 400;
	color: #12c3f4;
	margin-bottom: 0;
}

.ts-item span {
	font-size: 12px;
	color: #fff;
}

.team-member {
	padding-right: 67px;
	position: relative;
}

.team-member img {
	min-width: 100%;
}

.team-member .member-info {
	position: absolute;
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 230px;
	background: #fff;
	bottom: 37px;
	right: 0;
	-webkit-box-shadow: 6px 7px 20px rgba(114, 114, 114, 0.21);
	        box-shadow: 6px 7px 20px rgba(114, 114, 114, 0.21);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-member .member-info h2 {
	font-size: 30px;
	margin-bottom: 0;
}

.team-member .member-info p {
	color: #222222;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 0;
}

.team-member:hover .member-info {
	background: #12c3f4;
	-webkit-box-shadow: 0px 0px 0px rgba(114, 114, 114, 0.21);
	        box-shadow: 0px 0px 0px rgba(114, 114, 114, 0.21);
}

.promo-section {
	padding-top: 90px;
	padding-bottom: 150px;
}

.promo-text h1 {
	color:#1c4d86;
	margin-bottom: 20px;
	font-family: 'GothamSSmMedium', sans-serif;
}

.promo-text h1 span {
	color: #fff;
}

.promo-text p {
	font-size: 20px;
	line-height:30px;
	font-weight: 500;
	color: #222;
	margin-bottom: 0;
}

.slide-num-holder.test-slider {
	right: auto;
	left: 100%;
	bottom: -160px;
	width: 160px;
	height: 230px;
	padding-right: 30px;
	padding-top: 80px;
}

/*----------------------------------------*/
/*  Service page CSS
/*----------------------------------------*/
.service-slider {
	position: relative;
}

.service-slider .owl-controls {
	position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    bottom: -50px;
    text-align: center;
}

.service-slider .owl-dots {
	width: 100%;
	text-align: center;
}

.service-slider .owl-dots .owl-dot {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 10px;
	background: #1c4d86;
}

.service-slider .owl-dots .owl-dot.active {
	background: #12c3f4;
}

.service-text h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.service-text p {
	margin-bottom: 50px;
}

.service-text ol {
	list-style: none;
}

.service-text ol li {
	font-size: 20px;
	font-weight: 700;
	color: #727272;
	margin-bottom: 20px;
}

.solid-service-box {
	text-align: center;
	background: #fff;
	padding: 50px 30px;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.solid-service-box h2 {
	font-size: 48px;
	color: #727272;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.solid-service-box h3 {
	margin-bottom: 20px;
}

.solid-service-box p {
	font-size: 14px;
	margin-bottom: 20px;
}

.solid-service-box .readmore {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #222;
	opacity: 0;
	visibility: hidden;
	position: relative;
	bottom: -20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.solid-service-box:hover {
	background: #12c3f4;
}

.solid-service-box:hover h2 {
	color: #222;
}

.solid-service-box:hover .readmore {
	visibility: visible;
	opacity: 1;
	bottom: 0;
}

.promo-box {
	width: 1383px;
	margin: 0 auto;
	padding: 40px 0;
}

.promo-box .promo-text h1,
.promo-box .promo-text p {
	color: #fff;
}

/*----------------------------------------*/
/*  Blog page CSS
/*----------------------------------------*/
.blog-post {
	margin-bottom: 120px;
}

.blog-post .thumb {
	padding: 25px;
	position: relative;
}

.blog-post .thumb:after {
	position: absolute;
	content: "";
	width: 100%;
	height: calc(100% - 100px);
	top: 0;
	left: 0;
	background: #f0f0f0;
	z-index: -1;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.blog-post .post-date {
	font-size: 14px;
	font-weight: 700;
	color: #222;
	display: inline-block;
	background: #12c3f4;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.blog-post h2 {
	font-size: 30px;
}

.blog-post h2 a {
	color: #222;
}

.blog-post p {
	margin-bottom: 0;
}

.blog-post .post-meta {
	margin-bottom: 40px;
}

.blog-post .post-meta a {
	color: #727272;
	font-size: 12px;
	margin-right: 10px;
}

.blog-post .post-meta a i {
	font-size: 16px;
	margin-left: 5px;
}

.blog-post:hover .thumb:after {
	background: #12c3f4;
}

.pagination {
	display: inline-block;
	padding: 20px 30px;
	background: #222;
	border-radius: 0;
}

.pagination a {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.pagination a.active {
	font-size: 48px;
	color: #12c3f4;
}

.search {
	position: relative;
}

.widget-area {
	margin-bottom: 80px;
}

.widget-area .widget-title {
	font-size: 22px;
	margin-bottom: 40px;
}

.widget-area .search input {
	width: 100%;
	background: #f0f0f0;
	border: none;
	font-size: 12px;
	padding: 10px;
	padding-right: 35px;
	font-style: italic;
}

.widget-area .search button {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	color: #838383;
	height: 100%;
	width: 40px;
}

.widget-area ul {
	list-style: none;
}

.widget-area ul li a {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: 500;
	color: #727272;
	padding: 3px 10px;
	padding-left: 25px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.widget-area ul li a:after {
	position: absolute;
	content: "+";
	color: #838383;
	left: 5px;
	top: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.widget-area ul li a:hover {
	background: #12c3f4;
	color: #222;
}

.widget-area ul li a:hover:after {
	color: #222;
}

.widget-area ul li:last-child a {
	margin-bottom: 0;
}

.widget-area .rp-widget .rp-widget-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.widget-area .rp-widget .rp-widget-item:last-child {
	margin-bottom: 0;
}

.widget-area .rp-widget .thumb {
	width: 68px;
	height: 68px;
	float: left;
	margin-right: 30px;
	background: #ddd;
	display: block;
}

.widget-area .rp-widget .rp-content {
	padding-left: 98px;
}

.widget-area .rp-widget h4 {
	line-height: 1.5;
	margin-bottom: 0;
}

.widget-area .rp-widget p {
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0;
}

.widget-area .quote-widget span {
	font-size: 47px;
	font-style: italic;
	color: #727272;
}

.widget-area .quote-widget p {
	font-style: italic;
	margin-bottom: 0;
	font-size: 13px;
}

.widget-area .instagram-widget {
	padding-top: 30px;
}

.widget-area .instagram-widget a {
	display: block;
	overflow: hidden;
	width: 33.33333%;
	float: left;
	position: relative;
}

.widget-area .instagram-widget a:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #12c3f4;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.widget-area .instagram-widget a:before {
	position: absolute;
	content: "+";
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	width: 20px;
	top: 50%;
	margin-top: -13px;
	left: 50%;
	margin-left: -10px;
	text-shadow: 0 0 20px #999;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 2;
}

.widget-area .instagram-widget a:hover:after,
.widget-area .instagram-widget a:hover:before {
	opacity: 1;
}

.widget-area .instagram-widget a img {
	min-width: 100%;
}

/*----------------------------------------*/
/*  Contact page CSS
/*----------------------------------------*/
.cf-social {
	margin-top: 50px;
}

.cf-social a {
	color: #222;
	margin-right: 25px;
}

.contact-form {
	padding-top: 10px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	font-size: 13px;
	border: none;
	background: #f0f0f0;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.contact-form textarea {
	height: 200px;
	margin-bottom: 30px;
}

.contact-form ::-webkit-input-placeholder {
	font-style: italic;
}

.contact-form :-ms-input-placeholder {
	font-style: italic;
}

.contact-form ::-ms-input-placeholder {
	font-style: italic;
}

.contact-form ::placeholder {
	font-style: italic;
}

.map-area {
	height: 685px;
	width: 100%;
	display: block;
	background: #f0f0f0;
	margin-bottom: 2px;
}

/*----------------------------------------*/
/*  Portfolio page CSS
/*----------------------------------------*/
.portfolio-filter {
	list-style: none;
}

.portfolio-filter li {
	display: inline-block;
	margin-right: 40px;
	font-size: 14px;
	color: #222;
	cursor: pointer;
	font-weight: 500;
}

.portfolio-filter li.active {
	text-decoration: underline;
	-webkit-text-decoration-color: #2046f2;
	        text-decoration-color: #2046f2;
}

.portfolio-warp {
	display: block;
	overflow: hidden;
}

.portfolio-warp .grid-item {
	width: 20%;
	background-position: center;
}

.portfolio-warp .grid-item:after {
	content: '';
	display: block;
	clear: both;
}

.portfolio-warp .grid-item.grid-wide,
.portfolio-warp .grid-item.grid-long {
	width: 40%;
}

.portfolio-warp .grid-item a {
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(186, 255, 0, 0.45);
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.portfolio-warp .grid-item a:after {
	position: absolute;
	content: "+";
	left: 50%;
	top: 60%;
	width: 48px;
	margin-left: -24px;
	margin-top: -24px;
	color: #fff;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.portfolio-warp .grid-item:hover a {
	opacity: 1;
}

.portfolio-warp .grid-item:hover a:after {
	top: 50%;
}

.portfolio-warp .grid-sizer {
	width: 20%;
}

/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1477px) {
	.slide-num-holder.test-slider {
		left: auto;
		right: 0;
	}
}

@media only screen and (max-width: 1400px) {
	.promo-box {
		width: 100%;
	}
}

@media only screen and (max-width: 1200px){
	.desc_prod .links a{
		margin-bottom: 20px;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.phone-number {
		margin-right: 30px;
	}
	.nav-menu > ul > li > a {
		margin-right: 20px;
	}
	.slide-content {
		margin-left: 220px;
	}
	.milestone p {
		margin-left: 10px;
		font-size: 17px;
	}
	.milestone h2 {
		font-size: 55px;
	}
	.milestone:after {
		width: 90px;
		height: 90px;
	}
	.slide-num-holder {
		right: 20px;
	}
	.hero-right-text {
		right: 100px;
	}
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.logo-area {
		padding: 20px 40px 30px;
	}
	.slide-content {
		margin-left: 170px;
		margin-bottom: -35px;
		padding-left: 120px;
		padding-top: 120px;
		padding-bottom: 30px;
	}
	.slide-content h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.slide-content:after {
		border-top: 100px solid #12c3f4;
		border-left: 100px solid #12c3f4;
		border-bottom: 60px solid #12c3f4;
	}
	.hero-slider .owl-nav {
		left: 170px;
	}
	.slide-num-holder {
		right: 20px;
	}
	.hero-right-text {
		bottom: 70%;
		right: 100px;
	}
	.nav-menu > ul > li > a {
		margin-right: 5px;
		font-size: 13px;
		padding: 37px 7px 5px;
	}
	.phone-number {
		font-size: 12px;
		margin-right: 10px;
	}
	.team-member {
		margin-bottom: 30px;
	}
	.portfolio-warp .grid-item {
		width: 50%;
	}
	.portfolio-warp .grid-item.grid-wide,
	.portfolio-warp .grid-item.grid-long {
		width: 50%;
	}
	.portfolio-warp .grid-sizer {
		width: 50%;
	}
	.solid-service-box {
		margin-bottom: 30px;
	}
	.cta-section {
		background: #1c4d86;
		margin-bottom: 0;
	}
	.testimonials-section {
		background: #1c4d86;
		margin: 0;
	}
	.testimonials-image-box,
	.testimonials-section:after,
	.cta-image-box,
	.cta-section:after {
		display: none;
	}
	.hero-section,
	.hero-slider .hero-slide-item {
		height: 850px;
	}
	.milestone,
	.solid-service-box {
		margin-bottom: 30px;
	}
	.footer-section .footer-social {
		width: auto;
		top: -25px;
		right: 50%;
		padding: 10px;
		margin-right: -133px;
	}
	.footer-section .social-links a {
		display: inline-block;
		padding: 0 15px;
		margin-bottom: 0;
	}
	.projects-filter-nav {
		text-align: left;
	}
	.projects-filter-nav li {
		margin-left: 0;
		margin-right: 15px;
	}
	.footer-section .copyright {
		position: relative;
		width: 100%;
		max-width: 720px;
		margin: 40px auto 0;
		left: 0;
		top: 0;
		margin-bottom: -50px;
		padding-left: 15px;
		text-align: center;
	}
}
@media (max-width: 992px){
	.footer-section .footer-social {
	    top: -30px;
	}
	.nav-menu ul li:hover .dropdown{
		top: 0!important;
	}
	.nav-menu .dropdown{
		width: 100%!important;
	}
	.desc_prod .links a{
		width: 100%;
	}
	.spad {
	    padding: 50px 0;
	}
	.sobre_img img {
	    width: 100%;
	}
	.projects-section {
		padding-top: 40px;
	    margin-bottom: 40px!important;
	}
	.projects-section .btnbox .site-btn {
	    margin-top: 30px;
	}
	.nav-menu .dropdown{
		margin-top: 35px;
	}
	.nav-menu .dropdown:before{
		opacity: 0.99!important;
    	z-index: 3!important;
	}
	.nav-menu .dropdown li {
	    border-bottom: 1px solid #ffffff45;
	}

}
/* Large Mobile :480px. */
@media only screen and (max-width: 991px) {
	.mb100{
		margin-bottom: 0; 
	}
	.intro-produto figure img{
		width: 100%;
	}
	.slide-content:after{
		display: none!important;
	}
	.nav-menu > ul > li {
	    display: inline-block;
	    width: 100%;
	}
	.container-site {
	    padding: 0px 15px!important;
	}
	
	.spad {
 	   padding: 50px 0;
	}
	.pb100 {
 	   padding-bottom: 60px;
	}
	.intro-section{
		padding-top: 30px;
	}
	.section-title {
	    margin-bottom: 30px;
	    padding-top: 0!important;
	}
	.section-title h1, .section-title h2{
		font-size: 40px;
	}
	.promo-text p{
		text-align: justify;
	}
	.projects-filter-nav li{
		margin: 0 0 15px 0;
	}
	.page-header-section {
	    height: 280px;
	    padding-top: 140px;
	}
	.projects-slider .single-project .project-content{
		padding: 15px!important;
	}
	.projects-slider .single-project .project-content h2{
		font-size: 30px;
	}
	.projects-section {
	    margin-bottom: 40px!important;
	}
	.footer-item ul li{
		text-align: center;
	}
	.footer-section .copyright{
		padding: 0 15px;
	}
	h1,
	.sp-title {
		font-size: 36px;
	}
	.page-header-section .header-title {
		font-size: 40px;
	}
	.left-bar {
		width: 70px;
	}
	.slide-content:after,
	.hero-right-text,
	.phone-number {
		display: none;
	}
	.nav-switch {
		position: absolute;
		right: 20px;
		font-size: 30px;
		color: #fff;
		top: 20px;
		display: block;
	}
	.nav-menu {
		position: absolute;
		width: calc(100% - 90px);
		left: 80px;
		background: #1c4d86;
		top: 100%;
		margin-top: 11px;
		display: none;
	}
	.nav-menu > ul > li > a {
		display: block;
		padding: 16px 21px;
		border-bottom: 1px solid #2e5c92;
		margin-right: 0;
	}
	.nav-menu > ul > li > a:after {
		left: 20px;
	}
	.nav-menu > ul > li.active>a:after,
	.nav-menu > ul > li > a:hover:after {
		height: 10px;
	}
	.hero-section {
		height: auto;
	}
	.hero-slider .hero-slide-item {
		padding: 150px 0;
		height: auto;
	}
	.slide-content h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.hero-slider .owl-nav {
		padding-left: 70px;
		width: 100%;
		text-align: center;
		left: 0;
	}
	.slide-content {
		margin-left: 70px;
		padding: 0;
		text-align: center;
	}
	.slide-num-holder,
	.slide-num-holder.test-slider {
		right: 0;
		height: 75px;
		width: 136px;
		padding-top: 18px;
	}
	.slide-num-holder span,
	.slide-num-holder.test-slider span {
		font-size: 40px;
	}
	.slide-num-holder.test-slider {
		bottom: -135px;
	}
	.team-member {
		margin-bottom: 30px;
	}
	.portfolio-warp .grid-item {
		width: 50%;
	}
	.portfolio-warp .grid-item.grid-wide,
	.portfolio-warp .grid-item.grid-long {
		width: 50%;
	}
	.portfolio-warp .grid-sizer {
		width: 50%;
	}
	.cta-section {
		background: #1c4d86;
		margin-bottom: 0;
	}
	.testimonials-section {
		background: #1c4d86;
		margin: 0;
	}
	.testimonials-image-box,
	.testimonials-section:after,
	.cta-image-box,
	.cta-section:after {
		display: none;
	}
	.milestone,
	.solid-service-box {
		margin-bottom: 30px;
	}
	.projects-filter-nav {
		text-align: left;
	}
	.footer-section .footer-social {
		width: auto;
		top: -25px;
		right: 50%;
		padding: 10px;
		margin-right: -133px;
	}
	.footer-section .social-links a {
		display: inline-block;
		padding: 0 15px;
		margin-bottom: 0;
	}
	.footer-section .copyright {
		position: relative;
		width: 100%;
		max-width: 720px;
		margin: 40px auto 0;
		left: 0;
		top: 0;
		margin-bottom: -50px;
		padding-left: 15px;
		text-align: center;
	}
	.footer-item {
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 580px){
	#trabalhe .contact-form label{
		display: none;
	}
	#trabalhe .contact-form input {
	    padding-left: 15px!important;
	}
	#trabalhe textarea {
    height: 200px!important;
}
}
/* small mobile :320px. */
@media only screen and (max-width: 480px) {	
	.logo-area {
		padding: 20px 30px 30px;
	}
	.header-area {
	    justify-content: center;
	    background: #1c4d86;
	    padding-right: 66px;
	    display: flex;
	    align-items: center;
	}
	.nav-menu {
		width: 100%;
		left: 0;
		margin-top: 0;
		border-top: 1px solid #2e5c92;

	}
	.left-bar {
		display: none;
	}
	.hero-slider .owl-nav {
		padding-left: 0;
	}
	.slide-content {
		margin-left: 0;
		padding: 0 15px;
	}
	.slide-content h2 {
		font-size: 35px;
		line-height: 1.5;
	}
	.portfolio-warp .grid-item {
		width: 100%;
	}
	.portfolio-warp .grid-item.grid-wide,
	.portfolio-warp .grid-item.grid-long {
		width: 100%;
	}
	.portfolio-warp .grid-sizer {
		width: 100%;
	}
	.projects-slider {
		padding: 0 15px;
	}
	.hero-section, .hero-slider, .hero-slider .hero-slide-item{
		height: 450px!important;
	}
	.hero-slide-item{
		background-size: 100%!important;
	}
	.hero-slider .hero-slide-item {
    	padding: 106px 0 0;
	}
}

.projects-section {
	margin-bottom: 150px;

}

.intro-produto p {
	font-size: 18px;
}

.intro-produto {
	background: #fff;
	padding: 40px 30px;
}

.intro-produto h2 {
	color: #1c4d86;
}

.intro-produto .ico {
	width: 90px;
	height: auto;
}

.intro-produto figure img {
	margin-bottom: 5px;
	
}

.intro-produto figure figcaption {
	font-size: 12px;
	font-family: 'GothamSSmMedium', sans-serif;
	text-align: center;
}

.intro-produto .desc_prod {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom:1px solid #f2f2f2;
}

.intro-produto .desc_prod:last-child {
	border:0;
}

.intro-section {
	background-color: #ffffff;
}

.desc_prod .links {
	padding-top: 10px;
}

.desc_prod a.catalogo {
	background: url("../img/icon/pdf.svg") 10px center no-repeat;
	background-size: 35px auto;
	padding:19px 30px 19px 54px;
}

.desc_prod a.image {
	background: url("../img/icon/jpg.svg") 10px center no-repeat;
	background-size: 35px auto;
	padding:19px 30px 19px 54px;
}

.desc_prod a.info {
	background: url("../img/icon/guide.svg") 10px center no-repeat;
	background-size: 35px auto;
	padding:19px 30px 19px 54px;
}


.desc_prod .links a {
	display: inline-block;
    font-weight: 700;
    border: 4px solid #1c4d86;
    color: #1c4d86;
    text-align: center;
    position: relative;
    margin-right: 15px;
    z-index: 1;
    webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.container-site {
	width: 100%;
	padding:0 40px; 
	box-sizing: border-box;
	margin: 0 auto;
}

.nav-menu .dropdown {
	width: 220px;
	height: auto;
	padding-top: 20px;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
	position: absolute;
	left: 0;
	top: 150%;
	overflow: hidden;
}

.nav-menu .dropdown:before {
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 20px;
	bottom: 0;
	right: 0;
	z-index: 0;
	background: #12c3f4;
	opacity: 0.70;

}

.nav-menu .dropdown li {
	position: relative;
	padding: 10px 20px;
	z-index:10;
}

.nav-menu .dropdown li a {
	color: #fff;
	font-family: 'GothamSSmMedium', sans-serif;
}

.nav-menu ul li:hover .dropdown {
	top: 100%;
	opacity: 1;
	visibility: visible;
}

.projects-section.lista {
	margin-bottom: 50px;
	padding-top: 30px;
	background-color: #f9f9f9;
}

/*IDIOMAS*/

.idiomas{
	display: flex;
	justify-content: space-between;
}
.idiomas .pt, .idiomas .ing, .idiomas .esp, .idiomas .fra{
	width: 42px;
	height: 42px;
	margin: 0 5px;
	cursor: pointer;
	display: block;
}
.idiomas .pt:hover, .idiomas .ing:hover, .idiomas .esp:hover, .idiomas .fra:hover{
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}
.idiomas figure{
	margin: 0;
	height: 100%;
}
.idiomas figure img{
	height: 100%;
}
.idioma_selecionado{
	display: none!important;
}

.intro-text p{
	text-align: justify!important;
}

.sobre_img{
	height: 715px!important;
}
.sobre_img img{
	height: 100%!important;
	object-fit: cover!important;
}
.testimonials-section .qut{
	color: white;
	margin: 0;
}
.ts-item h2 {
    color: white;
}
.contact-info h2{
	font-size: 18px;
    color: #1c4d86;
}
.contact-info i{
	color: #1c4d86;
}
.contact-form input, .contact-form textarea, .contact-form select{
	border: 1px solid #b3c4d5;
	background: #f0f0f040!important;
	color: #1c4d86!important;
	font-weight: 600;

}
.contact-form select{
    width: 100%;
    font-size: 13px;
    border-radius: 0;
    font-style: italic;
    background: #f0f0f0;
    padding: 15px 20px;
    margin-bottom: 20px;
    height: 51px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #a9bdd2;
    font-weight: 600;
}   
.contact-form label{
	font-weight: 600;
	color: #1c4d86;
} 
.has-error {
    border: 1px solid red!important;
}
#trabalhe img{
	filter: saturate(0.8);
}
#trabalhe .contact-form label {
    font-weight: 600;
    color: #1c4d86;
    position: absolute;
    padding: 14px 10px;
    width: 140px;
    background: #1c4d86;
    color: white;
    text-align: center;
    height: 51px;
    font-size: 14px;
}
#trabalhe .contact-form{
	padding: 0;
}
#trabalhe .contact-form input{
    padding-left: 150px;
}   
#trabalhe .file{
	height: 51px;
}
#trabalhe textarea{
	height: 345px;
}
.bg-f9{
	background: #f9f9f9!important;
}
.idiomas.mm {
    display: none;
}
.check{
	height: 22px;
	margin-bottom: 30px;
	font-weight: 600;
}
.check input{
	width: 13px;
	margin-right: 10px;
}
.check input.has-error{
	box-shadow: 0px 0px 4px red!important;
}
#enviar_mensagem:disabled{
	cursor: unset;
	border: 4px solid #dedede;
    color: #dedede;
}
.site-btn:disabled:before, .site-btn:disabled:after{
	background-color: #dedede;
}
@media (max-width: 768px){
	.intro-produto figure figcaption {
	    font-size: 18px;
	}
} 
@media only screen and (max-width: 1600px){
	.hero-section, .hero-slider, .hero-slider .hero-slide-item{
		height: 100vh;
	}
	.footer-section .copyright{
		width: 20%;
	}
	.footer-section .footer-social{
		top: -120px;
	}
}
@media (max-width: 992px){
	.projects-slider .single-project .project-content {
    	opacity: 1;
	}
	.projects-slider .single-project .seemore {
 	   bottom: 50px;
	}
	.projects-slider .single-project .pro{
		opacity: 0;
		visibility: hidden;
	}
	.idiomas.mm {
		padding: 15px 0px;
	    display: flex;
	    justify-content: center;
	}
	.copyright a{
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}
	.copyright a img{
		widows: 320px;
	}
	.footer-section .footer-social {
	    top: -30px;
	}
	.footer-section .copyright {
    	width: 100%;
	}
	.footer-item{
	    display: flex;
    	justify-content: center;
	}
	.footer-item img{
	    width: 320px;
	}
}	
.ban-mob{
	display: none!important;
}
@media only screen and (max-width: 480px){
	
	.logo-area {
 	   padding: 32px 30px 30px;
	}
	.slide-content:after, .hero-right-text, .phone-number {
    	display: none;
	}
	
	.page-header-section {
	    height: 240px;
	}
	.owl-item.active .slide-content{
		position: absolute;
	    width: 100%;
	    margin: 0;
	    bottom: -5px;
	}
	.slide-content h2 {
	    width: 48%;
	    float: left;
	    font-size: 28px;
	}
	.site-btn.sb-light{
		margin-top: 8px;
	}
	.hero-slider {
    	background-color: #12c3f4;
	}
	.slide-num-holder span, .slide-num-holder.test-slider span{
		font-size: 24px;
	}
	.slide-num-holder, .slide-num-holder.test-slider{
		right: 0;
	    height: 58px;
	    width: 95px;
	    padding-top: 18px;
	}
	.ban-mob{
		display: block!important;
	}
	.ban-desk{
		display: none!important;
	}	
	.hero-section, .hero-slider, .hero-slider .hero-slide-item {
    	height: 438px!important;
	}
	.owl-item.active .slide-content{
		left: 0;
	}
	.hero-slider .owl-nav {
	    padding-left: 0;
	    bottom: -53px;
	    background: #12c3f4;
	    padding: 15px 0;
	}
	.slide-num-holder, .slide-num-holder.test-slider{
		bottom: -112px;
	}
	.hero-slider .owl-nav .owl-prev:hover, .hero-slider .owl-nav .owl-next:hover {
 	   color: #fefefe;
	}
	.sp-title{
		padding-top: 20px;
	}
}
@media (max-width: 450px){
	.hero-section, .hero-slider, .hero-slider .hero-slide-item {
	    height: 410px!important;
	}
}
@media (max-width: 440px){
	.site-btn.sb-light{
		min-width: 165px;
		margin-right: 0;
	}
}
@media (max-width: 381px){
	.site-btn.sb-light{
		min-width: 112px;
	}
}
@media (max-width: 396px){
	.hero-section, .hero-slider, .hero-slider .hero-slide-item {
	    height: 356px!important;
	}
}

.btn-hover{
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px;
}
@media (min-width: 1200px) and (max-width: 1380px){
	.nav-menu > ul > li > a{
		padding: 40px 5px 5px;
		margin-right: 10px;
	}
	.phone-number{
		margin-right: 0;
	}
}

.bread{
    font-size: 40px!important;
    color: white!important;
}
.pro{
	padding: 50px;
	width: 100%;
	height: 100%;
    background: rgba(13, 13, 13, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	visibility: visible;
  	opacity: 1;
 	transition: visibility 0.6s, opacity 0.6s linear;
}
.single-project:hover .pro{
	visibility: hidden;
  	opacity: 0;
}
.pro h2{
	color: white;
    -webkit-text-stroke: 0.4px #ffffff;
    -webkit-text-fill-color: #ffffff00;
}
@media (max-width: 768px){
	.bread{
		font-size: 26px!important;
	}
} 

form.busca input[type="submit"]{
    background: #1c4d86;
    color: white;
    border: 2px solid #1b4980;
    padding: 8px 10px;
    font-weight: 600;
}

form.busca input[type="submit"]:hover{
	background: #26558c;
}
    
form.busca input[name="busca"]{
    padding: 10px 10px;
    width: 265px;
    border-color: #716f6f4a;
    border-width: 1px;
}

.projects-slider{
	width: 100%;
}

.nd{
	width: 100%;
	margin-top: 60px;
}

.nd h1{
	text-align: center;
    color: #1c4d86;
}

.nd_b{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.nd_b a{
	background: #1c4d86;
    padding: 20px 30px;
    color: #FFF;
    font-weight: 700;
}

.nd_b a:hover{
	background: #26558c;
}

@media(max-width: 800px){
	.busca{
		margin: 15px 0;
	}
}

@media(max-width: 432px){
	form.busca input[type="submit"]{
		width: 100%;
		margin-bottom: 10px;
	}
	form.busca input[name="busca"]{
		width: 100%;
		margin-bottom: 15px;
	}
}